@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v30-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #090917;
    --font: #f3eeee;
    --border: #949393;
    --sun: #cc6723;
    --mercury: #e5dcdc;
    --venus: #737ede;
    --earth: #4d89c9; 
    --mars: #dfc0a1;
    --jupiter: #9a7240;
    --saturn: #868261;
    --uranus: #b6d2ef;
    --neptune: #0072a8;
    --scrollbar: #e8e5e5;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 15px;
}
/* Focus */
a:focus {
    outline: var(--font) 1px solid;
    padding: .5rem;
}
a:focus:not(:focus-visible) {
    outline: none;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
    padding-bottom: 2rem;
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
/* Nav */
.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
}
.links ul li a {
    position: relative;
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 350ms ease all;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--font);
    transition: 350ms ease;
}
.links ul li a:hover::before {
    width: 100%;
    left: 0;
}
.links ul li a:visited {
    color: var(--font);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .75rem;
    left: 1rem;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--font);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
/* Solar System */
.solar-system {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 50px auto;
}
.sun {
    position: absolute;
}
.sun .planet {
    background-color: var(--sun);
    margin: 0 auto;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px var(--sun),
                0 0 20px var(--sun),
                0 0 60px var(--sun),
                0 0 120px var(--sun);
}
.mercury {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 110px;
    width: 110px;
}
.mercury .planet {
    background-color: var(--mercury);
    margin: 0 auto;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    animation: planetRotation-Mercury linear infinite 40000ms;
    animation-delay: -7s;
}
@keyframes planetRotation-Mercury {
    0% {
        transform: rotate(0deg) translate(53px);
    }
    100% {
        transform: rotate(360deg) translate(53px);
    }
}
.venus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 160px;
    width: 160px;
}
.venus .planet {
    background-color: var(--venus);
    margin: 0 auto;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    animation: planetRotation-Venus linear infinite 50000ms;
    animation-delay: -2s;
}
@keyframes planetRotation-Venus {
    0% {
        transform: rotate(0deg) translate(78px);
    }
    100% {
        transform: rotate(360deg) translate(78px);
    }
}
.earth {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 205px;
    width: 205px;
}
.earth .planet {
    background-color: var(--earth);
    margin: 0 auto;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    animation: planetRotation-Earth linear infinite 60000ms;
    animation-delay: -18s;
}
@keyframes planetRotation-Earth {
    0% {
        transform: rotate(0deg) translate(100px);
    }
    100% {
        transform: rotate(360deg) translate(100px);
    }
}
.mars {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}
.mars .planet {
    background-color: var(--mars);
    margin: 0 auto;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    animation: planetRotation-Mars linear infinite 70000ms;
    animation-delay: -50s;
}
@keyframes planetRotation-Mars {
    0% {
        transform: rotate(0deg) translate(124px);
    }
    100% {
        transform: rotate(360deg) translate(124px);
    }
}
.jupiter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
.jupiter .planet {
    background-color: var(--jupiter);
    margin: 0 auto;
    border-radius: 50px;
    height: 19px;
    width: 19px;
    animation: planetRotation-Jupiter linear infinite 80000ms;
    animation-delay: -70s;
}
@keyframes planetRotation-Jupiter {
    0% {
        transform: rotate(0deg) translate(148px);
    }
    100% {
        transform: rotate(360deg) translate(148px);
    }
}
.saturn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
.saturn .planet {
    background-color: var(--saturn);
    margin: 0 auto;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    animation: planetRotation-Saturn linear infinite 100000ms;
    animation-delay: -40s;
}
@keyframes planetRotation-Saturn {
    0% {
        transform: rotate(0deg) translate(175px);
    }
    100% {
        transform: rotate(360deg) translate(175px);
    }
}
.uranus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 400px;
    width: 400px;
}
.uranus .planet {
    background-color: var(--uranus);
    margin: 0 auto;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    animation: planetRotation-Uranus linear infinite 130000ms;
    animation-delay: -76s;
}
@keyframes planetRotation-Uranus {
    0% {
        transform: rotate(0deg) translate(200px);
    }
    100% {
        transform: rotate(360deg) translate(200px);
    }
}
.neptune {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--font) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    height: 450px;
    width: 450px;
}
.neptune .planet {
    background-color: var(--neptune);
    margin: 0 auto;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    animation: planetRotation-Neptune linear infinite 160000ms;
    animation-delay: -30s;
}
@keyframes planetRotation-Neptune {
    0% {
        transform: rotate(0deg) translate(225px);
    }
    100% {
        transform: rotate(360deg) translate(225px);
    }
}
/* Title */
.title h1 {
    text-align: center;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: .25rem;
    width: 100%;
    line-height: 1.8;
    margin: 30px auto 0;
    color: var(--font);
}
/* Color Key */
.color-key {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 75px auto;
    color: var(--font);
    text-transform: capitalize;
}
.color-key .sun-key,
.color-key .mercury-key,
.color-key .venus-key,
.color-key .earth-key,
.color-key .mars-key,
.color-key .jupiter-key,
.color-key .saturn-key,
.color-key .uranus-key,
.color-key .neptune-key {
    position: relative;
    padding-left: 1.5rem;
}
.color-key .sun-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--sun);
    width: 15px;
    height: 15px;
}
.color-key .mercury-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--mercury);
    width: 15px;
    height: 15px;
}
.color-key .venus-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--venus);
    width: 15px;
    height: 15px;
}
.color-key .earth-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--earth);
    width: 15px;
    height: 15px;
}
.color-key .mars-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--mars);
    width: 15px;
    height: 15px;
}
.color-key .mars-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--mars);
    width: 15px;
    height: 15px;
}
.color-key .jupiter-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--jupiter);
    width: 15px;
    height: 15px;
}
.color-key .saturn-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--saturn);
    width: 15px;
    height: 15px;
}
.color-key .uranus-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--uranus);
    width: 15px;
    height: 15px;
}
.color-key .neptune-key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--neptune);
    width: 15px;
    height: 15px;
}
/* Planetary Cards */
.planetary-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin: 50px auto 0;
    max-width: 62.5rem;
}
.card-contents {
    position: relative;
    width: 100%;
    height: 100%;
    padding: .5rem;
}
.card {
    margin: 0 auto;
    width: 320px;
    height: auto;
    line-height: 1.8;
    color: var(--font);
    border: var(--border) 2px solid;
    transition: 250ms ease-in-out;
}
.card:nth-child(1):hover {
    border: var(--mercury) 2px solid;
    box-shadow: 0 0 2px var(--mercury),
                0 0 5px var(--mercury),
                0 0 15px var(--mercury),
                0 0 20px var(--mercury);
}
.card:nth-child(2):hover {
    border: var(--venus) 2px solid;
    box-shadow: 0 0 2px var(--venus),
                0 0 5px var(--venus),
                0 0 15px var(--venus),
                0 0 20px var(--venus);
}
.card:nth-child(3):hover {
    border: var(--earth) 2px solid;
    box-shadow: 0 0 2px var(--earth),
                0 0 5px var(--earth),
                0 0 15px var(--earth),
                0 0 20px var(--earth);
}
.card:nth-child(4):hover {
    border: var(--mars) 2px solid;
    box-shadow: 0 0 2px var(--mars),
                0 0 5px var(--mars),
                0 0 15px var(--mars),
                0 0 20px var(--mars);
}
.card:nth-child(5):hover {
    border: var(--sun) 2px solid;
    box-shadow: 0 0 2px var(--sun),
                0 0 5px var(--sun),
                0 0 15px var(--sun),
                0 0 20px var(--sun);
}
.card:nth-child(6):hover {
    border: var(--jupiter) 2px solid;
    box-shadow: 0 0 2px var(--jupiter),
                0 0 5px var(--jupiter),
                0 0 15px var(--jupiter),
                0 0 20px var(--jupiter);
}
.card:nth-child(7):hover {
    border: var(--saturn) 2px solid;
    box-shadow: 0 0 2px var(--saturn),
                0 0 5px var(--saturn),
                0 0 15px var(--saturn),
                0 0 20px var(--saturn);
}
.card:nth-child(8):hover {
    border: var(--uranus) 2px solid;
    box-shadow: 0 0 2px var(--uranus),
                0 0 5px var(--uranus),
                0 0 15px var(--uranus),
                0 0 20px var(--uranus);
}
.card:nth-child(9):hover {
    border: var(--neptune) 2px solid;
    box-shadow: 0 0 2px var(--neptune),
                0 0 5px var(--neptune),
                0 0 15px var(--neptune),
                0 0 20px var(--neptune);
}
.card img {
    height: auto;
    width: 100%;
    text-align: center;
    letter-spacing: .75px;
}
.card h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    letter-spacing: 1px;
    font-weight: 400;
    margin: .5rem auto;
}
.card p {
    padding: .5rem;
    margin: 0 auto;
    opacity: 95%;
}
/* Media Query's Start */
@media screen and (max-width: 1135px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links {
        transform: translateX(0);
    }
    .wrapper.active .overlay {
        opacity: 1;
        pointer-events: all;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--background);
        transform: translateY(-100%);
        transition: 300ms;
        overflow-y: auto;
        z-index: 1;
    }
    .links ul li {
        display: flex;
        flex-direction: column;
        padding: 1.75rem;
    }
    .links ul li a {
        color: var(--font);
    }
    .links ul li a::before {
        content: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .overlay {                               
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
        pointer-events: none;
        transition: 300ms;
    }
    .card:nth-child(1):hover,
    .card:nth-child(2):hover,
    .card:nth-child(3):hover,
    .card:nth-child(4):hover,
    .card:nth-child(5):hover,
    .card:nth-child(6):hover,
    .card:nth-child(7):hover,
    .card:nth-child(8):hover,
    .card:nth-child(9):hover {
        border: var(--border) solid 2px;
        box-shadow: none;
    }
}
@media screen and (max-width: 1057px) {
    .color-key {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1.25rem;
        gap: 1.25rem;
    }
    .planetary-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1.5rem;
    }
    .card {
        width: 100%;
    }
    .card p {
        opacity: 85%;
    }
}
@media screen and (max-width: 575px) {
    .sun .planet {
        height: 30px;
        width: 30px;
    }
    .mercury {
        height: 70px;
        width: 70px;
    }
    .mercury .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Mercury {
        0% {
            transform: rotate(0deg) translate(33px);
        }
        100% {
            transform: rotate(360deg) translate(33px);
        }
    }
    .venus {
        height: 110px;
        width: 110px;
    }
    .venus .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Venus {
        0% {
            transform: rotate(0deg) translate(53px);
        }
        100% {
            transform: rotate(360deg) translate(53px);
        }
    }
    .earth {
        height: 150px;
        width: 150px;
    }
    .earth .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Earth {
        0% {
            transform: rotate(0deg) translate(73px);
        }
        100% {
            transform: rotate(360deg) translate(73px);
        }
    }
    .mars {
        height: 190px;
        width: 190px;
    }
    .mars .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Mars {
        0% {
            transform: rotate(0deg) translate(93px);
        }
        100% {
            transform: rotate(360deg) translate(93px);
        }
    }
    .jupiter {
        height: 230px;
        width: 230px;
    }
    .jupiter .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Jupiter {
        0% {
            transform: rotate(0deg) translate(113px);
        }
        100% {
            transform: rotate(360deg) translate(113px);
        }
    }
    .saturn {
        height: 270px;
        width: 270px;
    }
    .saturn .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Saturn {
        0% {
            transform: rotate(0deg) translate(133px);
        }
        100% {
            transform: rotate(360deg) translate(133px);
        }
    }
    .uranus {
        height: 310px;
        width: 310px;
    }
    .uranus .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Uranus {
        0% {
            transform: rotate(0deg) translate(153px);
        }
        100% {
            transform: rotate(360deg) translate(153px);
        }
    }
    .neptune {
        height: 350px;
        width: 350px;
    }
    .neptune .planet {
        height: 15px;
        width: 15px;
    }
    @keyframes planetRotation-Neptune {
        0% {
            transform: rotate(0deg) translate(173px);
        }
        100% {
            transform: rotate(360deg) translate(173px);
        }
    }
    .planetary-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .card {
        margin: 0 auto;
        max-width: 350px;
    }
    .card p {
        opacity: 85%;
    }
}
@media screen and (max-width: 450px) {
    .solar-system {
        display: none;
    }
    .title h1 {
       margin: 60px auto 0;
    }
    .planetary-cards {
        margin: 50px;
        padding: 0;
    }
    .color-key {
        display: none;
    }
}
@media screen and (max-width: 405px) {
    .planetary-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 30px auto 0;
    }
    .card {
        margin: 0 auto;
        width: 80%;
    }
}
@media screen and (orientation: landscape) and (max-width: 935px) {
    .links ul li {
        padding: 1.1rem;
    }
}
@media screen and (orientation: landscape) and (max-width: 845px) {
    .solar-system {
        display: none;
    }
    .color-key {
        display: none;
    }
}