@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v30-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #090917;
    --orbit: #434044;
    --font: #ebe4e4;
    --card: #000000;
    --sun: #cc6723;
    --mercury: #e5dcdc;
    --venus: #737ede;
    --earth: #4d89c9; 
    --mars: #dfc0a1;
    --jupiter: #9a7240;
    --saturn: #868261;
    --uranus: #b6d2ef;
    --neptune: #0072a8;
    --scrollbar: #e8e5e5;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 15px;
}
/* Focus */
a:focus {
    outline: var(--font) 1px solid;
    padding: .5rem;
}
a:focus:not(:focus-visible) {
    outline: none;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
    padding-bottom: 2rem;
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
/* Nav */
.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
}
.links ul li a {
    position: relative;
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 350ms ease all;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--font);
    transition: 350ms ease;
}
.links ul li a:hover::before {
    width: 100%;
    left: 0;
}
.links ul li a:visited {
    color: var(--font);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .75rem;
    left: 1rem;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    background-color: var(--font);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
/* Solar System */
.solar-system {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: var(--font);
    margin: 50px auto;
}
.sun-orbit {
    position: absolute;
}
.sun {
    background-color: var(--sun);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    opacity: 80%;
    box-shadow: 0 0 10px var(--sun),
                0 0 20px var(--sun),
                0 0 60px var(--sun),
                0 0 120px var(--sun);
}
.mercury-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 110px;
    height: 110px;
}
.mercury {
    width: 18px;
    height: 18px;
    animation: mercury-orbit linear infinite 40000ms;
    animation-delay: -7s;
}
@keyframes mercury-orbit {
    0% {
        transform: rotate(0deg) translate(53px);
    }
    100% {
        transform: rotate(360deg) translate(53px);
    }
}
.venus-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 160px;
    height: 160px;
}
.venus {
    width: 20px;
    height: 20px;
    animation: venus-orbit linear infinite 50000ms;
    animation-delay: -2s;
}
@keyframes venus-orbit {
    0% {
        transform: rotate(0deg) translate(78px);
    }
    100% {
        transform: rotate(360deg) translate(78px);
    }
}
.earth-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 205px;
    height: 205px;
}
.earth {
    width: 21px;
    height: 21px;
    animation: earth-orbit linear infinite 60000ms;
    animation-delay: -18s;
}
@keyframes earth-orbit {
    0% {
        transform: rotate(0deg) translate(100px);
    }
    100% {
        transform: rotate(360deg) translate(100px);
    }
}
.mars-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}
.mars {
    width: 19px;
    height: 19px;
    animation: mars-orbit linear infinite 70000ms;
    animation-delay: -50s;
}
@keyframes mars-orbit {
    0% {
        transform: rotate(0deg) translate(124px);
    }
    100% {
        transform: rotate(360deg) translate(124px);
    }
}
.jupiter-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
.jupiter {
    width: 23px;
    height: 23px;
    animation: jupiter-orbit linear infinite 80000ms;
    animation-delay: -70s;
}
@keyframes jupiter-orbit {
    0% {
        transform: rotate(0deg) translate(148px);
    }
    100% {
        transform: rotate(360deg) translate(148px);
    }
}
.saturn-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 350px;
    height: 350px;
}
.saturn {
    width: 35px;
    height: 35px;
    animation: saturn-orbit linear infinite 100000ms;
    animation-delay: -40s;
}
@keyframes saturn-orbit {
    0% {
        transform: rotate(0deg) translate(175px);
    }
    100% {
        transform: rotate(360deg) translate(175px);
    }
}
.uranus-orbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 400px;
    height: 400px;
}
.uranus {
    width: 22px;
    height: 22px;
    animation: uranus-orbit linear infinite 130000ms;
    animation-delay: -76s;
}
@keyframes uranus-orbit {
    0% {
        transform: rotate(0deg) translate(200px);
    }
    100% {
        transform: rotate(360deg) translate(200px);
    }
}
.neptune-orbit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orbit) solid 2px;
    opacity: 80%;
    border-radius: 100%;
    width: 450px;
    height: 450px;
}
.neptune {
    width: 22px;
    height: 22px;
    animation: neptune-orbit linear infinite 160000ms;
    animation-delay: -30s;
}
@keyframes neptune-orbit {
    0% {
        transform: rotate(0deg) translate(225px);
    }
    100% {
        transform: rotate(360deg) translate(225px);
    }
}
/* Title */
.title h1 {
    text-align: center;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: .25rem;
    width: 100%;
    line-height: 1.8;
    margin: 30px auto 0;
    color: var(--font);
}
/* Planetary Cards */
.planetary-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin: 50px auto 0;
    max-width: 62.5rem;
}
.card-contents {
    position: relative;
    width: 100%;
    height: 100%;
    padding: .5rem;
}
.card {
    margin: 0 auto;
    width: 320px;
    height: auto;
    line-height: 1.8;
    color: var(--font);
    background: var(--card);
    border: var(--orbit) 2px solid;
    transition: 250ms ease-in-out;
}
.card:nth-child(1):hover {
    border: var(--mercury) 2px solid;
    box-shadow: 0 0 2px var(--mercury),
                0 0 5px var(--mercury),
                0 0 15px var(--mercury),
                0 0 20px var(--mercury);
}
.card:nth-child(2):hover {
    border: var(--venus) 2px solid;
    box-shadow: 0 0 2px var(--venus),
                0 0 5px var(--venus),
                0 0 15px var(--venus),
                0 0 20px var(--venus);
}
.card:nth-child(3):hover {
    border: var(--earth) 2px solid;
    box-shadow: 0 0 2px var(--earth),
                0 0 5px var(--earth),
                0 0 15px var(--earth),
                0 0 20px var(--earth);
}
.card:nth-child(4):hover {
    border: var(--mars) 2px solid;
    box-shadow: 0 0 2px var(--mars),
                0 0 5px var(--mars),
                0 0 15px var(--mars),
                0 0 20px var(--mars);
}
.card:nth-child(5):hover {
    border: var(--sun) 2px solid;
    box-shadow: 0 0 2px var(--sun),
                0 0 5px var(--sun),
                0 0 15px var(--sun),
                0 0 20px var(--sun);
}
.card:nth-child(6):hover {
    border: var(--jupiter) 2px solid;
    box-shadow: 0 0 2px var(--jupiter),
                0 0 5px var(--jupiter),
                0 0 15px var(--jupiter),
                0 0 20px var(--jupiter);
}
.card:nth-child(7):hover {
    border: var(--saturn) 2px solid;
    box-shadow: 0 0 2px var(--saturn),
                0 0 5px var(--saturn),
                0 0 15px var(--saturn),
                0 0 20px var(--saturn);
}
.card:nth-child(8):hover {
    border: var(--uranus) 2px solid;
    box-shadow: 0 0 2px var(--uranus),
                0 0 5px var(--uranus),
                0 0 15px var(--uranus),
                0 0 20px var(--uranus);
}
.card:nth-child(9):hover {
    border: var(--neptune) 2px solid;
    box-shadow: 0 0 2px var(--neptune),
                0 0 5px var(--neptune),
                0 0 15px var(--neptune),
                0 0 20px var(--neptune);
}
.card img {
    height: auto;
    width: 100%;
    letter-spacing: .75px;
}
.card h2 {
    text-align: center;
    text-transform: capitalize;
    color: var(--font);
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    letter-spacing: 1px;
    font-weight: 400;
    margin: .5rem auto;
}
.card p {
    padding: .5rem;
    margin: 0 auto;
    opacity: 95%;
}
/* Media Query's Start */
@media screen and (max-width: 1135px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links {
        transform: translateX(0);
    }
    .wrapper.active .overlay {
        opacity: 1;
        pointer-events: all;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--background);
        transform: translateY(-100%);
        transition: 300ms;
        overflow-y: auto;
        z-index: 1;
    }
    .links ul li {
        display: flex;
        flex-direction: column;
        padding: 1.75rem;
    }
    .links ul li a {
        color: var(--font);
    }
    .links ul li a::before {
        content: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .overlay {                               
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
        pointer-events: none;
        transition: 300ms;
    }
    .card:nth-child(1):hover,
    .card:nth-child(2):hover,
    .card:nth-child(3):hover,
    .card:nth-child(4):hover,
    .card:nth-child(5):hover,
    .card:nth-child(6):hover,
    .card:nth-child(7):hover,
    .card:nth-child(8):hover,
    .card:nth-child(9):hover {
        border: var(--font) solid 2px;
        box-shadow: none;
    }
}
@media screen and (max-width: 1057px) {
    .planetary-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1.5rem;
    }
    .card {
        width: 100%;
    }
    .card p {
        opacity: 85%;
    }
}
@media screen and (max-width: 575px) {
    .sun {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
    .mercury-orbit {
        width: 70px;
        height: 70px;
    }
    .mercury,
    .venus,
    .earth,
    .mars,
    .jupiter,
    .uranus,
    .neptune {
        width: 15px;
        height: 15px;
    }
    .saturn {
        width: 30px;
        height: 30px;
    }
    @keyframes mercury-orbit {
        0% {
            transform: rotate(0deg) translate(33px);
        }
        100% {
            transform: rotate(360deg) translate(33px);
        }
    }
    .venus-orbit {
        width: 110px;
        height: 110px;
    }
    @keyframes venus-orbit {
        0% {
            transform: rotate(0deg) translate(53px);
        }
        100% {
            transform: rotate(360deg) translate(53px);
        }
    }
    .earth-orbit {
        width: 150px;
        height: 150px;
    }
    @keyframes earth-orbit {
        0% {
            transform: rotate(0deg) translate(73px);
        }
        100% {
            transform: rotate(360deg) translate(73px);
        }
    }
    .mars-orbit {
        width: 190px;
        height: 190px;
    }
    @keyframes mars-orbit {
        0% {
            transform: rotate(0deg) translate(93px);
        }
        100% {
            transform: rotate(360deg) translate(93px);
        }
    }
    .jupiter-orbit {
        width: 230px;
        height: 230px;
    }
    @keyframes jupiter-orbit {
        0% {
            transform: rotate(0deg) translate(113px);
        }
        100% {
            transform: rotate(360deg) translate(113px);
        }
    }
    .saturn-orbit {
        width: 270px;
        height: 270px;
    }
    @keyframes saturn-orbit {
        0% {
            transform: rotate(0deg) translate(133px);
        }
        100% {
            transform: rotate(360deg) translate(133px);
        }
    }
    .uranus-orbit {
        width: 310px;
        height: 310px;
    }
    @keyframes uranus-orbit {
        0% {
            transform: rotate(0deg) translate(153px);
        }
        100% {
            transform: rotate(360deg) translate(153px);
        }
    }
    .neptune-orbit {
        width: 350px;
        height: 350px;
    }
    @keyframes neptune-orbit {
        0% {
            transform: rotate(0deg) translate(173px);
        }
        100% {
            transform: rotate(360deg) translate(173px);
        }
    }
    .planetary-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .card {
        margin: 0 auto;
        max-width: 350px;
    }
    .card p {
        opacity: 85%;
    }
}
@media screen and (max-width: 450px) {
    .solar-system {
        margin: 75px auto 0;
        transform: scale(0.9);
        transform-origin: center;
    }
    .planetary-cards {
        margin: 50px;
        padding: 0;
    }
}
@media screen and (max-width: 405px) {
    .planetary-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 30px auto 0;
    }
    .card {
        margin: 0 auto;
        width: 80%;
    }
}
@media screen and (max-width: 350px) {
    .sun {
        width: 27px;
        height: 27px;
    }
    .mercury-orbit {
        width: 60px;
        height: 60px;
    }
    @keyframes mercury-orbit {
        0% {
            transform: rotate(0deg) translate(28px);
        }
        100% {
            transform: rotate(360deg) translate(28px);
        }
    }
    .venus-orbit {
        width: 95px;
        height: 95px;
    }
    @keyframes venus-orbit {
        0% {
            transform: rotate(0deg) translate(47px);
        }
        100% {
            transform: rotate(360deg) translate(47px);
        }
    }
    .earth-orbit {
        width: 130px;
        height: 130px;
    }
    @keyframes earth-orbit {
        0% {
            transform: rotate(0deg) translate(64px);
        }
        100% {
            transform: rotate(360deg) translate(64px);
        }
    }
    .mars-orbit {
        width: 165px;
        height: 165px;
    }
    @keyframes mars-orbit {
        0% {
            transform: rotate(0deg) translate(81px);
        }
        100% {
            transform: rotate(360deg) translate(81px);
        }
    }
    .jupiter-orbit {
        width: 200px;
        height: 200px;
    }
    @keyframes jupiter-orbit {
        0% {
            transform: rotate(0deg) translate(99px);
        }
        100% {
            transform: rotate(360deg) translate(99px);
        }
    }
    .saturn-orbit {
        width: 235px;
        height: 235px;
    }
    @keyframes saturn-orbit {
        0% {
            transform: rotate(0deg) translate(116px);
        }
        100% {
            transform: rotate(360deg) translate(116px);
        }
    }
    .uranus-orbit {
        width: 275px;
        height: 275px;
    }
    @keyframes uranus-orbit {
        0% {
            transform: rotate(0deg) translate(136px);
        }
        100% {
            transform: rotate(360deg) translate(136px);
        }
    }
    .neptune-orbit {
        width: 310px;
        height: 310px;
    }
    @keyframes neptune-orbit {
        0% {
            transform: rotate(0deg) translate(154px);
        }
        100% {
            transform: rotate(360deg) translate(154px);
        }
    }
}
@media screen and (max-width: 315px) {
    .sun {
        width: 22px;
        height: 22px;
    }
    .mercury-orbit {
        width: 50px;
        height: 50px;
    }
    .mercury,
    .venus,
    .earth,
    .mars,
    .jupiter,
    .uranus,
    .neptune {
        width: 13px;
        height: 13px;
    }
    .saturn {
        width: 25px;
        height: 25px;
    }
    @keyframes mercury-orbit {
        0% {
            transform: rotate(0deg) translate(23px);
        }
        100% {
            transform: rotate(360deg) translate(23px);
        }
    }
    .venus-orbit {
        width: 88px;
        height: 88px;
    }
    @keyframes venus-orbit {
        0% {
            transform: rotate(0deg) translate(43px);
        }
        100% {
            transform: rotate(360deg) translate(43px);
        }
    }
    .earth-orbit {
        width: 120px;
        height: 120px;
    }
    @keyframes earth-orbit {
        0% {
            transform: rotate(0deg) translate(59px);
        }
        100% {
            transform: rotate(360deg) translate(59px);
        }
    }
    .mars-orbit {
        width: 155px;
        height: 155px;
    }
    @keyframes mars-orbit {
        0% {
            transform: rotate(0deg) translate(76px);
        }
        100% {
            transform: rotate(360deg) translate(76px);
        }
    }
    .jupiter-orbit {
        width: 190px;
        height: 190px;
    }
    @keyframes jupiter-orbit {
        0% {
            transform: rotate(0deg) translate(94px);
        }
        100% {
            transform: rotate(360deg) translate(94px);
        }
    }
    .saturn-orbit {
        width: 225px;
        height: 225px;
    }
    @keyframes saturn-orbit {
        0% {
            transform: rotate(0deg) translate(111px);
        }
        100% {
            transform: rotate(360deg) translate(111px);
        }
    }
    .uranus-orbit {
        width: 265px;
        height: 265px;
    }
    @keyframes uranus-orbit {
        0% {
            transform: rotate(0deg) translate(131px);
        }
        100% {
            transform: rotate(360deg) translate(131px);
        }
    }
    .neptune-orbit {
        width: 300px;
        height: 300px;
    }
    @keyframes neptune-orbit {
        0% {
            transform: rotate(0deg) translate(149px);
        }
        100% {
            transform: rotate(360deg) translate(149px);
        }
    }
}
@media screen and (orientation: landscape) and (max-width: 935px) {
    .links ul li {
        padding: 1.1rem;
    }
}