@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v30-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --darkNavy: #090917;
    --white: #ebe4e4;
    --black: #000007;
    --orbit: #434044;
    --sun: #cc6723;
    --mercury: #e5dcdc;
    --venus: #737ede;
    --earth: #4d89c9; 
    --mars: #dfc0a1;
    --jupiter: #9a7240;
    --saturn: #868261;
    --uranus: #b6d2ef;
    --neptune: #0072a8;
}
body {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    height: 100vh;
    background-color: var(--darkNavy);
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}
nav.menu-open .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
nav.menu-open .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
}
.links ul li a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a::before {
    content: '';
    position: absolute;
    bottom: -.313rem;
    left: 50%;
    width: 0;
    height: .063rem;
    background-color: var(--white);
    transition: width 350ms ease, left 350ms ease;
}
.links ul li a:hover::before {
    width: 100%;
    left: 0;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .5rem;
    left: .5rem;
    height: 2.75rem;
    width: 2.75rem;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.hamburger-menu:focus:not(:focus-visible) {
    outline: none;
}
.bars {
    position: relative;
    height: .188rem;
    width: 1.25rem;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    transition: transform 350ms ease;
}
.bars::before {
    transform: translateY(-.25rem);
}
.bars::after {
    transform: translateY(.25rem);
}
.solar-system {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 3.125rem auto;
}
.sun-orbit {
    position: absolute;
}
.mercury,
.venus,
.earth,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune {
    width: .875rem;
    height: .875rem;
    border-radius: 50%;
}
.mercury-orbit,
.venus-orbit,
.earth-orbit,
.mars-orbit,
.jupiter-orbit,
.saturn-orbit,
.uranus-orbit,
.neptune-orbit {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    border-radius: 100%;
}
.sun {
    background-color: var(--sun);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    opacity: 85%;
    box-shadow: 0 0 10px var(--sun),
                0 0 20px var(--sun),
                0 0 60px var(--sun),
                0 0 120px var(--sun);
}
.mercury-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 6.875rem;
    height: 6.875rem;
}
.mercury {
    background-color: var(--mercury);
    animation: mercury-orbit-rotation linear infinite 40000ms;
    animation-delay: -7s;
}
@keyframes mercury-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(3.313rem);
    }
    100% {
        transform: rotate(360deg) translate(3.313rem);
    }
}
.venus-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 10rem;
    height: 10rem;
}
.venus {
    background-color: var(--venus);
    animation: venus-orbit-rotation linear infinite 50000ms;
    animation-delay: -2s;
}
@keyframes venus-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(4.875rem);
    }
    100% {
        transform: rotate(360deg) translate(4.875rem);
    }
}
.earth-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 12.813rem;
    height: 12.813rem;
}
.earth {
    background-color: var(--earth);
    animation: earth-orbit-rotation linear infinite 60000ms;
    animation-delay: -18s;
}
@keyframes earth-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(6.25rem);
    }
    100% {
        transform: rotate(360deg) translate(6.25rem);
    }
}
.mars-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 15.625rem;
    height: 15.625rem;
}
.mars {
    background-color: var(--mars);
    animation: mars-orbit-rotation linear infinite 70000ms;
    animation-delay: -50s;
}
@keyframes mars-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(7.75rem);
    }
    100% {
        transform: rotate(360deg) translate(7.75rem);
    }
}
.jupiter-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 18.75rem;
    height: 18.75rem;
}
.jupiter {
    background-color: var(--jupiter);
    animation: jupiter-orbit-rotation linear infinite 80000ms;
    animation-delay: -70s;
}
@keyframes jupiter-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(9.25rem);
    }
    100% {
        transform: rotate(360deg) translate(9.25rem);
    }
}
.saturn-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 21.875rem;
    height: 21.875rem;
}
.saturn {
    background-color: var(--saturn);
    animation: saturn-orbit-rotation linear infinite 100000ms;
    animation-delay: -40s;
}
@keyframes saturn-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(10.938rem);
    }
    100% {
        transform: rotate(360deg) translate(10.938rem);
    }
}
.uranus-orbit {
    position: absolute;
    border: var(--orbit) solid 2px;
    width: 25rem;
    height: 25rem;
}
.uranus {
    background-color: var(--uranus);
    animation: uranus-orbit-rotation linear infinite 130000ms;
    animation-delay: -76s;
}
@keyframes uranus-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(12.5rem);
    }
    100% {
        transform: rotate(360deg) translate(12.5rem);
    }
}
.neptune-orbit {
    border: var(--orbit) solid 2px;
    width: 28.125rem;
    height: 28.125rem;
}
.neptune {
    background-color: var(--neptune);
    animation: neptune-orbit-rotation linear infinite 160000ms;
    animation-delay: -30s;
}
@keyframes neptune-orbit-rotation {
    0% {
        transform: rotate(0deg) translate(14.063rem);
    }
    100% {
        transform: rotate(360deg) translate(14.063rem);
    }
}
.title h1,
.title h2 {
    text-align: center;
    color: var(--white);
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: .25rem;
    width: 100%;
}
.title h1 {
    line-height: 1.8;
    margin: 1.875rem auto 0;
}
.title h2 {
    font-size: clamp(1.1rem, 3vw, 1.25rem);
}
.planetary-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin: 3.125rem auto 0;
    padding-bottom: 2rem;
    max-width: 62.5rem;
}
.card-contents {
    position: relative;
    width: 100%;
    height: 100%;
    padding: .65rem;
}
.card {
    margin: 0 auto;
    width: 20rem;
    height: auto;
    line-height: 1.8;
    color: var(--white);
    background: var(--black);
    border: var(--orbit) 2px solid;
    transition: box-shadow 250ms ease-in-out, border-color 250ms ease-in-out;
}
.card:nth-child(1):hover {
    border: var(--mercury) 2px solid;
    box-shadow: 0 0 2px var(--mercury),
                0 0 5px var(--mercury),
                0 0 15px var(--mercury),
                0 0 20px var(--mercury);
}
.card:nth-child(2):hover {
    border: var(--venus) 2px solid;
    box-shadow: 0 0 2px var(--venus),
                0 0 5px var(--venus),
                0 0 15px var(--venus),
                0 0 20px var(--venus);
}
.card:nth-child(3):hover {
    border: var(--earth) 2px solid;
    box-shadow: 0 0 2px var(--earth),
                0 0 5px var(--earth),
                0 0 15px var(--earth),
                0 0 20px var(--earth);
}
.card:nth-child(4):hover {
    border: var(--mars) 2px solid;
    box-shadow: 0 0 2px var(--mars),
                0 0 5px var(--mars),
                0 0 15px var(--mars),
                0 0 20px var(--mars);
}
.card:nth-child(5):hover {
    border: var(--sun) 2px solid;
    box-shadow: 0 0 2px var(--sun),
                0 0 5px var(--sun),
                0 0 15px var(--sun),
                0 0 20px var(--sun);
}
.card:nth-child(6):hover {
    border: var(--jupiter) 2px solid;
    box-shadow: 0 0 2px var(--jupiter),
                0 0 5px var(--jupiter),
                0 0 15px var(--jupiter),
                0 0 20px var(--jupiter);
}
.card:nth-child(7):hover {
    border: var(--saturn) 2px solid;
    box-shadow: 0 0 2px var(--saturn),
                0 0 5px var(--saturn),
                0 0 15px var(--saturn),
                0 0 20px var(--saturn);
}
.card:nth-child(8):hover {
    border: var(--uranus) 2px solid;
    box-shadow: 0 0 2px var(--uranus),
                0 0 5px var(--uranus),
                0 0 15px var(--uranus),
                0 0 20px var(--uranus);
}
.card:nth-child(9):hover {
    border: var(--neptune) 2px solid;
    box-shadow: 0 0 2px var(--neptune),
                0 0 5px var(--neptune),
                0 0 15px var(--neptune),
                0 0 20px var(--neptune);
}
.card img {
    height: auto;
    width: 100%;
    letter-spacing: .75px;
    aspect-ratio: 16 / 9;
}
.card h3 {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.card h3::after {
    content: '';
    position: absolute;
    top: 125%;
    left: 50%;
    width: 95%;
    height: 1.9px;
    transform: translate(-50%, -50%);
    background: var(--orbit);
}
.card p {
    padding: .25rem;
    margin: 1.25rem auto 0;
}
@media screen and (max-width: 1135px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    nav.menu-open .links {
        transform: translate(0);
        visibility: visible;
        transition: transform 350ms ease, visibility 0s;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--darkNavy);
        transform: translateY(-100%);
        transition: transform 300ms, visibility 0s 300ms;
        visibility: hidden;
        overflow-y: auto;
        z-index: 1;
    }
    .links ul li {
        display: flex;
        flex-direction: column;
        padding: 1.75rem;
    }
    .links ul li a {
        color: var(--white);
    }
    .links ul li a::before {
        content: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .card:nth-child(1):hover,
    .card:nth-child(2):hover,
    .card:nth-child(3):hover,
    .card:nth-child(4):hover,
    .card:nth-child(5):hover,
    .card:nth-child(6):hover,
    .card:nth-child(7):hover,
    .card:nth-child(8):hover,
    .card:nth-child(9):hover {
        border: var(--orbit) solid 2px;
        box-shadow: none;
    }
}
@media screen and (max-width: 1057px) {
    .planetary-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1.5rem;
    }
    .card {
        width: 100%;
    }
}
@media screen and (max-width: 710px) {
    .title h2 {
        width: 50%;
        margin: 0 auto;
        line-height: 1.6;
    }
}
@media screen and (max-width: 610px) {
    .title h2 {
        width: 75%;
    }
    .planetary-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 1.875rem auto 0;
    }
}
@media screen and (max-width: 575px) {
    .sun {
        width: 1.875rem;
        height: 1.875rem;
    }
    .mercury-orbit {
        width: 4.375rem;
        height: 4.375rem;
    }
    .mercury,
    .venus,
    .earth,
    .mars,
    .jupiter,
    .saturn,
    .uranus,
    .neptune {
        width: .75rem;
        height: .75rem;
    }
    @keyframes mercury-orbit-rotation{
        0% {
            transform: rotate(0deg) translate(2.063rem);
        }
        100% {
            transform: rotate(360deg) translate(2.063rem);
        }
    }
    .venus-orbit {
        width: 6.875rem;
        height: 6.875rem;
    }
    @keyframes venus-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(3.313rem);
        }
        100% {
            transform: rotate(360deg) translate(3.313rem);
        }
    }
    .earth-orbit {
        width: 9.375rem;
        height: 9.375rem;
    }
    @keyframes earth-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(4.563rem);
        }
        100% {
            transform: rotate(360deg) translate(4.563rem);
        }
    }
    .mars-orbit {
        width: 11.875rem;
        height: 11.875rem;
    }
    @keyframes mars-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(5.813rem);
        }
        100% {
            transform: rotate(360deg) translate(5.813rem);
        }
    }
    .jupiter-orbit {
        width: 14.375rem;
        height: 14.375rem;
    }
    @keyframes jupiter-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(7.063rem);
        }
        100% {
            transform: rotate(360deg) translate(7.063rem);
        }
    }
    .saturn-orbit {
        width: 16.875rem;
        height: 16.875rem;
    }
    @keyframes saturn-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(8.313rem);
        }
        100% {
            transform: rotate(360deg) translate(8.313rem);
        }
    }
    .uranus-orbit {
        width: 19.375rem;
        height: 19.375rem;
    }
    @keyframes uranus-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(9.563rem);
        }
        100% {
            transform: rotate(360deg) translate(9.563rem);
        }
    }
    .neptune-orbit {
        width: 21.875rem;
        height: 21.875rem;
    }
    @keyframes neptune-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(10.813rem);
        }
        100% {
            transform: rotate(360deg) translate(10.813rem);
        }
    }
}
@media screen and (max-width: 450px) {
    .solar-system {
        margin: 3.125rem auto 0;
        transform: scale(0.9);
        transform-origin: center;
    }
    .planetary-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 395px) {
    .title h2 {
        width: 85%;
    }
}
@media screen and (max-width: 350px) {
    .sun {
        width: 1.563rem;
        height: 1.563rem;
    }
    .mercury-orbit {
        width: 3.75rem;
        height: 3.75rem;
    }
    @keyframes mercury-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(1.75rem);
        }
        100% {
            transform: rotate(360deg) translate(1.75rem);
        }
    }
    .venus-orbit {
        width: 5.938rem;
        height: 5.938rem;
    }
    @keyframes venus-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(2.938rem);
        }
        100% {
            transform: rotate(360deg) translate(2.938rem);
        }
    }
    .earth-orbit {
        width: 8.125rem;
        height: 8.125rem;
    }
    @keyframes earth-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(4rem);
        }
        100% {
            transform: rotate(360deg) translate(4rem);
        }
    }
    .mars-orbit {
        width: 10.313rem;
        height: 10.313rem;
    }
    @keyframes mars-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(5.063rem);
        }
        100% {
            transform: rotate(360deg) translate(5.063rem);
        }
    }
    .jupiter-orbit {
        width: 12.5rem;
        height: 12.5rem;
    }
    @keyframes jupiter-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(6.188rem);
        }
        100% {
            transform: rotate(360deg) translate(6.188rem);
        }
    }
    .saturn-orbit {
        width: 14.688rem;
        height: 14.688rem;
    }
    @keyframes saturn-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(7.25rem);
        }
        100% {
            transform: rotate(360deg) translate(7.25rem);
        }
    }
    .uranus-orbit {
        width: 17.188rem;
        height: 17.188rem;
    }
    @keyframes uranus-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(8.5rem);
        }
        100% {
            transform: rotate(360deg) translate(8.5rem);
        }
    }
    .neptune-orbit {
        width: 19.375rem;
        height: 19.375rem;
    }
    @keyframes neptune-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(9.625rem);
        }
        100% {
            transform: rotate(360deg) translate(9.625rem);
        }
    }
}
@media screen and (max-width: 315px) {
    .sun {
        width: 1.375rem;
        height: 1.375rem;
    }
    .mercury-orbit {
        width: 3.125rem;
        height: 3.125rem;
    }
    .mercury,
    .venus,
    .earth,
    .mars,
    .jupiter,
    .saturn,
    .uranus,
    .neptune {
        width: .625rem;
        height: .625rem;
    }
    @keyframes mercury-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(1.5rem);
        }
        100% {
            transform: rotate(360deg) translate(1.5rem);
        }
    }
    .venus-orbit {
        width: 5.5rem;
        height: 5.5rem;
    }
    @keyframes venus-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(2.688rem);
        }
        100% {
            transform: rotate(360deg) translate(2.688rem);
        }
    }
    .earth-orbit {
        width: 7.5rem;
        height: 7.5rem;
    }
    @keyframes earth-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(3.688rem);
        }
        100% {
            transform: rotate(360deg) translate(3.688rem);
        }
    }
    .mars-orbit {
        width: 9.688rem;
        height: 9.688rem;
    }
    @keyframes mars-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(4.813rem);
        }
        100% {
            transform: rotate(360deg) translate(4.813rem);
        }
    }
    .jupiter-orbit {
        width: 11.875rem;
        height: 11.875rem;
    }
    @keyframes jupiter-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(5.875rem);
        }
        100% {
            transform: rotate(360deg) translate(5.875rem);
        }
    }
    .saturn-orbit {
        width: 14.063rem;
        height: 14.063rem;
    }
    @keyframes saturn-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(6.938rem);
        }
        100% {
            transform: rotate(360deg) translate(6.938rem);
        }
    }
    .uranus-orbit {
        width: 16.563rem;
        height: 16.563rem;
    }
    @keyframes uranus-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(8.188rem);
        }
        100% {
            transform: rotate(360deg) translate(8.188rem);
        }
    }
    .neptune-orbit {
        width: 18.75rem;
        height: 18.75rem;
    }
    @keyframes neptune-orbit-rotation {
        0% {
            transform: rotate(0deg) translate(9.313rem);
        }
        100% {
            transform: rotate(360deg) translate(9.313rem);
        }
    }
}
@media screen and (orientation: landscape) and (max-width: 935px) {
    .links ul li {
        padding: 1.1rem;
    }
}
@media (prefers-reduced-motion: reduce) {
    nav.menu-open .links,
    .links,
    .links ul li a::before,
    .bars::before,
    .bars::after {
        transition: none;
    }
    .mercury,
    .venus,
    .earth,
    .mars,
    .jupiter,
    .saturn,
    .uranus,
    .neptune {
        animation-play-state: paused;
    }
}